</div>
<div class="footer-padding"></div>
  <div class="footer">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style> 
    .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }
    .social-icons li {
      margin-right: 10px;
    }
    .social-icons li:last-child {
      margin-right: 0;
    }
    .social-icons a {
      text-decoration: none;
      color: #333;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="footer">
    
  </div>
</body>
</html>
