<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mindcraft - Heaven of Knowledge</title>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="/images/letter-m.png" type="image/x-icon"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  
  <link rel="stylesheet" href="../../plugins/themify/css/themify-icons.css">




  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/">MINDCRAFT</a></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %> 
          <li id="login"><a href="/login">LOGIN</a></li>
          <li id="register"><a href="/register">REGISTER</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        <% } else { %> 
          <li id="dashboard"><a href="/dashboard">DASHBOARD</a></li>
          <li id="compose"><a href="/compose">CREATE A POST</a></li>
          
          <li><a href="/logout">LOGOUT</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

  <body>
    <div class="container">
